.container
	.row
		.col-lg-6.col-md-6.col-sm-12.col-xs-12.logofooter
			a(target="_blank" href='index.html')
				img(src="images/logo.png",width="250")
				hr.separador_footer
			a(target="_blank" href='http://larepublica.pe/')
				img(class="img-foot-lr",src="images/logo_lr.png")
		.col-lg-2.col-md-2.col-sm-4.col-xs-6.creditos
		
			h4 Investigación:
			ul
				li 
					a(target="_blank" href='https://twitter.com/meligoytizolo') Melissa Goytizolo
			h4 Jefe de la unidad de Investigación: 
			ul
				li 
					a(target="_blank" href='https://twitter.com/Angelpaezs') Ángel Páez
			h4 Diseño y Desarrollo Web:
			ul
				li 
					a(target="_blank" href='https://twitter.com/solcuya') Tania Cuya

		.col-lg-2.col-md-2.col-sm-4.col-xs-6.creditos

			h4 Edicion de video:
			ul
				li Grace Mora
				li Karla Espinoza
				li Carlos Burzzio
			h4 Fotografia:
			ul
				li Julio Angulo
				li Javier Quispe

		.col-lg-2.col-md-2.col-sm-4.col-xs-12.creditos
			h4 Traducciones: 
			ul
				li Wilma Maynas
				li Ruth Zúñiga
				li Libia Pinares
				li Enrique Grajeda
				li Esdras Silvano 







			
