//urls
@import 'https://fonts.googleapis.com/css?family=Roboto+Slab';
@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css?family=Cabin';
@import 'https://fonts.googleapis.com/css?family=Droid+Serif';
//colors
$larepublica: #c00101;
$white: #FEFCFA;
$verde: #928d19;
$guinda: #7C2132;

//fonts
$font_roboto_slab:'Roboto Slab';
$font_roboto: 'Roboto';
$font_miriam: 'Miriam Libre';
$font_sans: sans-serif;
$Cabin: 'Cabin', sans-serif;
$droid:'Droid Serif', serif;
